{% extends 'notas/base.html' %}
{% block content %}
  <div class="row center-align">
    <br>
    <div class="row">
      <div class="col l6 offset-l2">
        <h3>Listado de pensums</h3>
      </div>
    </div>

    <div class="col l12">
      <table class="bordered highlight">
        <thead >
          <tr>
              <th>Nombre</th>
              <th>Seccion</th>
              <th>Cursos</th>
          </tr>
        </thead>
        {% for p in pensums %}

          <div class="row">
            <tr>
              <td>{{p.nombre}}</td>
              <td>{{p.seccion}}</td>
              <td>{{p.cursos.nombre}}</td>

            </tr>
          </div>

        {% endfor %}
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
